.warning {
  border-left: 4px solid red;
  padding-left: 12px;
  margin: 16px 0;
  background: #fff5f5;
}

.tip {
  border-left: 4px solid green;
  padding-left: 12px;
  margin: 16px 0;
  background: #f5fff5;
}

.note {
  border-left: 4px solid #0066cc;
  padding-left: 12px;
  margin: 16px 0;
  background: #f5f9ff;
}


